:host {
/*   display: block; */
  position: fixed;
  top: 0;
  min-width: 100%;
}

.cart-no {
  position: absolute;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  text-align: center;
  background-color: blue;
  color: white;
  font-size: 1rem;
  top: -12px;
  right: 32px;
}
